.e506_2143 { 
	width:375px;
	height:812px;
	position:absolute;
}.e506_2144 { 
	background-color:rgba(15.193750709295273, 16.44345425069332, 41.43749848008156, 1);
	width:375px;
	height:812px;
	position:absolute;
	left:-12px;
	top:0px;
}.e506_2145 { 
	box-shadow:0px 0.5px 0px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(15.193750709295273, 16.44345425069332, 41.43749848008156, 1);
	width:375px;
	height:98px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2145_6_3277 { 
	width:375px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2145_6_3278 { 
	background-color:rgba(78.41380834579468, 74.56172704696655, 102.07661300897598, 1);
	width:343px;
	height:10px;
	position:absolute;
	left:16px;
	top:34px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2145_6_3279 { 
	background-color:rgba(0, 0, 0, 1);
	width:375px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2145_6_3280 { 
	background-color:rgba(215.98500072956085, 215.98500072956085, 215.98500072956085, 1);
	width:375px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.i506_2145_6_3280 { 
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
}.ei506_2145_6_3281 { 
	background-color:rgba(0, 0, 0, 1);
	width:375px;
	height:24px;
	position:absolute;
	left:2.5867157379345187e-27px;
	top:34px;
}.ei506_2145_6_3282 { 
	background-color:rgba(0, 0, 0, 1);
	width:343px;
	height:10px;
	position:absolute;
	left:16px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2145_6_3283 { 
	background-color:rgba(0, 0, 0, 1);
	width:375px;
	height:14px;
	position:absolute;
	left:0px;
	top:10px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2145_6_3285 { 
	width:375px;
	height:40px;
	position:absolute;
	left:0px;
	top:58px;
}.ei506_2145_6_3286 { 
	width:125px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2145_6_3287 { 
	color:rgba(0, 122.00000032782555, 255, 1);
	width:23px;
	height:24px;
	position:absolute;
	left:8px;
	top:8px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:23px;
	letter-spacing:0.3799999952316284;
	line-height:px;
}.ei506_2145_6_3288 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:68px;
	height:22px;
	position:absolute;
	left:36px;
	top:9px;
	font-family:SF Pro Text;
	text-align:left;
	font-size:17px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}.ei506_2145_6_3289 { 
	width:125px;
	height:22px;
	position:absolute;
	left:125px;
	top:9px;
}.ei506_2145_6_3290 { 
	color:rgba(25.000000409781933, 84.00000259280205, 197.0000034570694, 1);
	width:125px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:17px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}.ei506_2145_6_3291 { 
	width:125px;
	height:40px;
	position:absolute;
	left:250px;
	top:0px;
}.ei506_2145_7_1212 { 
	width:24px;
	height:24px;
	position:absolute;
	left:72px;
	top:8px;
}.ei506_2145_7_1212_7_1201 { 
	transform: rotate(-90deg);
	border-radius:500px;
	background-color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:2.700000047683716px;
	height:2.700000047683716px;
	position:absolute;
	left:4.90966796875px;
	top:13.349998474121094px;
}.ei506_2145_7_1212_7_1202 { 
	transform: rotate(-90deg);
	border-radius:500px;
	background-color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:2.700000047683716px;
	height:2.700000047683716px;
	position:absolute;
	left:10.6500244140625px;
	top:13.349998474121094px;
}.ei506_2145_7_1212_7_1203 { 
	transform: rotate(-90deg);
	border-radius:500px;
	background-color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:2.700000047683716px;
	height:2.700000047683716px;
	position:absolute;
	left:16.390380859375px;
	top:13.349998474121094px;
}.ei506_2145_7_1212_7_1204 { 
	border-radius:500px;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.i506_2145_7_1212_7_1204 { 
	border:1.7000000476837158px solid rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
}.e506_2146 { 
	width:333px;
	height:23px;
	position:absolute;
	left:19px;
	top:122px;
}.e506_2147 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:84px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e506_2148 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:46px;
	height:20px;
	position:absolute;
	left:287px;
	top:1.5px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2149 { 
	width:355px;
	height:573px;
	position:absolute;
	left:0px;
	top:219px;
}.e506_2150 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:126px;
	height:23px;
	position:absolute;
	left:20px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e506_2151 { 
	width:334px;
	height:213px;
	position:absolute;
	left:21px;
	top:85px;
}.e506_2152 { 
	width:334px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2152_11_683 { 
	background-color:rgba(27.000000290572643, 32.00000189244747, 61.00000016391277, 1);
	width:308px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2152_11_684 { 
	width:43px;
	height:43px;
	position:absolute;
	left:13px;
	top:8px;
}.ei506_2152_11_685 { 
	width:191px;
	height:83px;
	position:absolute;
	left:56px;
	top:8px;
}.ei506_2152_11_686 { 
	width:62px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2152_11_687 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:3px;
}.ei506_2152_11_687_4_219 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2152_11_688 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:43px;
	height:20px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.ei506_2152_11_689 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:146px;
	height:23px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.ei506_2152_11_690 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:191px;
	height:40px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.ei506_2152_11_861 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2152_11_691 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5314757248817409990_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei506_2152_11_692 { 
	background-color:rgba(21.692709177732468, 26.315107941627502, 53.1249987334013, 1);
	width:26px;
	height:99px;
	position:absolute;
	left:308px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2152_11_693 { 
	width:14px;
	height:14px;
	position:absolute;
	left:6px;
	top:42.5px;
}.ei506_2152_11_693_139_1614 { 
	background-color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:10.99996566772461px;
	height:9.166667938232422px;
	position:absolute;
	left:1.7499103546142578px;
	top:2.416666030883789px;
}.ei506_2152_11_693_4_224 { 
	width:14px;
	height:14px;
	position:absolute;
	left:-1.7499103546142578px;
	top:-2.416666030883789px;
}.i506_2152_11_693_4_224_982_5434 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.ei506_2152_11_693_4_224_982_5434 { 
	width:3.9182920455932617px;
	height:8.166666030883789px;
	position:absolute;
	left:8.331583976745605px;
	top:2.9166667461395264px;
}.ei506_2152_11_693_4_224_982_5435 { 
	transform: rotate(180deg);
	width:10.344287872314453px;
	height:0px;
	position:absolute;
	left:12.094198226928711px;
	top:6.435178279876709px;
}.i506_2152_11_693_4_224_982_5435 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.e506_2314 { 
	width:334px;
	height:99px;
	position:absolute;
	left:0px;
	top:114px;
}.e506_2315 { 
	background-color:rgba(27.000000290572643, 32.00000189244747, 61.00000016391277, 1);
	width:308px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2316 { 
	width:43px;
	height:43px;
	position:absolute;
	left:13px;
	top:8px;
}.e506_2317 { 
	width:236px;
	height:83px;
	position:absolute;
	left:56px;
	top:8px;
}.e506_2318 { 
	width:62px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2337 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:3px;
}.e506_2320 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:43px;
	height:20px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2321 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:236px;
	height:23px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e506_2322 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:191px;
	height:40px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2323 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2324 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5314757248817409990_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2325 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5395486841387462934_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2328 { 
	background-color:rgba(21.692709177732468, 26.315107941627502, 53.1249987334013, 1);
	width:26px;
	height:99px;
	position:absolute;
	left:308px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2329 { 
	width:14px;
	height:14px;
	position:absolute;
	left:6px;
	top:42.5px;
}.ei506_2329_139_1614 { 
	background-color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:10.99996566772461px;
	height:9.166667938232422px;
	position:absolute;
	left:1.7499103546142578px;
	top:2.416666030883789px;
}.ei506_2329_4_224 { 
	width:14px;
	height:14px;
	position:absolute;
	left:-1.7499103546142578px;
	top:-2.416666030883789px;
}.i506_2329_4_224_982_5434 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.ei506_2329_4_224_982_5434 { 
	width:3.9182920455932617px;
	height:8.166666030883789px;
	position:absolute;
	left:8.331583976745605px;
	top:2.9166667461395264px;
}.ei506_2329_4_224_982_5435 { 
	transform: rotate(180deg);
	width:10.344287872314453px;
	height:0px;
	position:absolute;
	left:12.094198226928711px;
	top:6.435178279876709px;
}.i506_2329_4_224_982_5435 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.e506_2154 { 
	width:334px;
	height:213px;
	position:absolute;
	left:21px;
	top:360px;
}.e506_2344 { 
	width:334px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2345 { 
	background-color:rgba(27.000000290572643, 32.00000189244747, 61.00000016391277, 1);
	width:308px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2346 { 
	width:43px;
	height:43px;
	position:absolute;
	left:13px;
	top:8px;
}.e506_2347 { 
	width:191px;
	height:83px;
	position:absolute;
	left:56px;
	top:8px;
}.e506_2348 { 
	width:63px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2367 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:3px;
}.e506_2350 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2351 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:78px;
	height:23px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e506_2352 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:191px;
	height:40px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2353 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2354 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5314757248817409990_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2356 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5373032808198548830_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2358 { 
	background-color:rgba(21.692709177732468, 26.315107941627502, 53.1249987334013, 1);
	width:26px;
	height:99px;
	position:absolute;
	left:308px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2359 { 
	width:14px;
	height:14px;
	position:absolute;
	left:6px;
	top:42.5px;
}.ei506_2359_139_1614 { 
	background-color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:10.99996566772461px;
	height:9.166667938232422px;
	position:absolute;
	left:1.7499103546142578px;
	top:2.416666030883789px;
}.ei506_2359_4_224 { 
	width:14px;
	height:14px;
	position:absolute;
	left:-1.7499103546142578px;
	top:-2.416666030883789px;
}.i506_2359_4_224_982_5434 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.ei506_2359_4_224_982_5434 { 
	width:3.9182920455932617px;
	height:8.166666030883789px;
	position:absolute;
	left:8.331583976745605px;
	top:2.9166667461395264px;
}.ei506_2359_4_224_982_5435 { 
	transform: rotate(180deg);
	width:10.344287872314453px;
	height:0px;
	position:absolute;
	left:12.094198226928711px;
	top:6.435178279876709px;
}.i506_2359_4_224_982_5435 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.e506_2374 { 
	width:334px;
	height:99px;
	position:absolute;
	left:0px;
	top:114px;
}.e506_2375 { 
	background-color:rgba(27.000000290572643, 32.00000189244747, 61.00000016391277, 1);
	width:308px;
	height:99px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2376 { 
	width:43px;
	height:43px;
	position:absolute;
	left:13px;
	top:8px;
}.e506_2377 { 
	width:228px;
	height:83px;
	position:absolute;
	left:56px;
	top:8px;
}.e506_2378 { 
	width:63px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2397 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:3px;
}.e506_2380 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:44px;
	height:20px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2381 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:228px;
	height:23px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e506_2382 { 
	color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:191px;
	height:40px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2383 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.e506_2384 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5314757248817409990_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2387 { 
	width:43px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/telegram_peer_photo_size_2_5307526332072177322_1_0_0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e506_2388 { 
	background-color:rgba(21.692709177732468, 26.315107941627502, 53.1249987334013, 1);
	width:26px;
	height:99px;
	position:absolute;
	left:308px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2389 { 
	width:14px;
	height:14px;
	position:absolute;
	left:6px;
	top:42.5px;
}.ei506_2389_139_1614 { 
	background-color:rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
	width:10.99996566772461px;
	height:9.166667938232422px;
	position:absolute;
	left:1.7499103546142578px;
	top:2.416666030883789px;
}.ei506_2389_4_224 { 
	width:14px;
	height:14px;
	position:absolute;
	left:-1.7499103546142578px;
	top:-2.416666030883789px;
}.i506_2389_4_224_982_5434 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.ei506_2389_4_224_982_5434 { 
	width:3.9182920455932617px;
	height:8.166666030883789px;
	position:absolute;
	left:8.331583976745605px;
	top:2.9166667461395264px;
}.ei506_2389_4_224_982_5435 { 
	transform: rotate(180deg);
	width:10.344287872314453px;
	height:0px;
	position:absolute;
	left:12.094198226928711px;
	top:6.435178279876709px;
}.i506_2389_4_224_982_5435 { 
	border:1px solid rgba(217.38169938325882, 219.1563105583191, 232.76157170534134, 1);
}.e506_2157 { 
	background-color:rgba(25.389325618743896, 83.58818829059601, 196.5624949336052, 1);
	width:102px;
	height:26px;
	position:absolute;
	left:0px;
	top:38px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2158 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:53px;
	height:20px;
	position:absolute;
	left:23px;
	top:3px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2159 { 
	background-color:rgba(25.000000409781933, 84.00000259280205, 197.0000034570694, 1);
	width:141px;
	height:26px;
	position:absolute;
	left:0px;
	top:314px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2160 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:92px;
	height:20px;
	position:absolute;
	left:23px;
	top:3px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2161 { 
	width:375px;
	height:47px;
	position:absolute;
	left:0px;
	top:152px;
}.e506_2162 { 
	width:1105px;
	height:34px;
	position:absolute;
	left:20px;
	top:8px;
}.e506_2163 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:61px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2163_11_533 { 
	color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	width:23px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2164 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:86px;
	height:34px;
	position:absolute;
	left:71px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2164_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:48px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2165 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:125px;
	height:34px;
	position:absolute;
	left:167px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2165_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2166 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:129px;
	height:34px;
	position:absolute;
	left:302px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2166_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2167 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:83px;
	height:34px;
	position:absolute;
	left:441px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2167_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:45px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2168 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:108px;
	height:34px;
	position:absolute;
	left:534px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2168_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2169 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:123px;
	height:34px;
	position:absolute;
	left:652px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2169_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2170 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:138px;
	height:34px;
	position:absolute;
	left:785px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2170_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:100px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2171 { 
	background-color:rgba(27.000781148672104, 31.912257000803947, 60.56249924004078, 1);
	width:172px;
	height:34px;
	position:absolute;
	left:933px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei506_2171_11_533 { 
	color:rgba(239.3104138970375, 240.15623331069946, 246.49999290704727, 1);
	width:134px;
	height:20px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e506_2172 { 
	width:100px;
	height:100px;
	position:absolute;
	left:220px;
	top:150px;
}.e506_2173 { 
	width:375px;
	height:70px;
	position:absolute;
	left:0px;
	top:742px;
}.ei506_2173_11_1465 { 
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
	background-color:rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 1);
	width:375px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2173_11_1466 { 
	width:226px;
	height:20px;
	position:absolute;
	left:74px;
	top:14px;
}.ei506_2173_11_1467 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2173_11_1467_4_262 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.ei506_2173_11_1467_4_262_982_5463 { 
	width:16.666667938232422px;
	height:18.333332061767578px;
	position:absolute;
	left:1.6666666269302368px;
	top:0.8333333134651184px;
	border-radius:Symbol(figma.mixed)px;
}.ei506_2173_11_1468 { 
	width:20px;
	height:20px;
	position:absolute;
	left:206px;
	top:0px;
}.ei506_2173_11_1468_4_253 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.i506_2173_11_1468_4_253_982_5529 { 
	border:2px solid rgba(160.00000566244125, 163.00000548362732, 189.00000393390656, 1);
}.ei506_2173_11_1468_4_253_982_5529 { 
	width:13.333333015441895px;
	height:15.290939331054688px;
	position:absolute;
	left:3.3333332538604736px;
	top:2.5px;
	border-radius:Symbol(figma.mixed)px;
}.e506_2174 { 
	width:345px;
	height:15px;
	position:absolute;
	left:15px;
	top:11px;
}.e506_2175 { 
	width:25.369354248046875px;
	height:12.142857551574707px;
	position:absolute;
	left:319.630615234375px;
	top:1.7857038974761963px;
}.e506_2176 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	opacity:0.3499999940395355;
	width:22.941659927368164px;
	height:12.142857551574707px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2.6666667461395264px;
}.e506_2177 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	opacity:0.4000000059604645;
	width:1.3848711252212524px;
	height:4.285714149475098px;
	position:absolute;
	left:23.9844970703125px;
	top:3.928582191467285px;
}.e506_2178 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	width:18.770458221435547px;
	height:7.8571457862854px;
	position:absolute;
	left:2.08563232421875px;
	top:2.1428489685058594px;
	border-radius:1.3333333730697632px;
}.e506_2179 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	width:15.926079750061035px;
	height:11.74882698059082px;
	position:absolute;
	left:298.455322265625px;
	top:1.7825751304626465px;
}.e506_2180 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:15.926079750061035px;
	height:5.082042217254639px;
	position:absolute;
	left:0px;
	top:-3.552713678800501e-15px;
}.e506_2181 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:10.374894142150879px;
	height:3.893551826477051px;
	position:absolute;
	left:2.7772216796875px;
	top:4.0650506019592285px;
}.e506_2182 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:4.824288845062256px;
	height:3.61543869972229px;
	position:absolute;
	left:5.5511474609375px;
	top:8.133394241333008px;
}.e506_2183 { 
	background-color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	width:17.727664947509766px;
	height:11.428569793701172px;
	position:absolute;
	left:275.4853515625px;
	top:2.142496347427368px;
}.e506_2184 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1284401416778564px;
	height:4.285714149475098px;
	position:absolute;
	left:0px;
	top:7.142854690551758px;
}.e506_2185 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1284096240997314px;
	height:6.428572177886963px;
	position:absolute;
	left:4.866455078125px;
	top:5.000004291534424px;
}.e506_2186 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1284096240997314px;
	height:8.928568840026855px;
	position:absolute;
	left:9.73284912109375px;
	top:2.500006914138794px;
}.e506_2187 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.1283791065216064px;
	height:11.428569793701172px;
	position:absolute;
	left:14.599298477172852px;
	top:0px;
}.e506_2188 { 
	color:rgba(252.00000017881393, 252.00000017881393, 252.00000017881393, 1);
	width:36.498111724853516px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Futura PT;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}